/*
	@name fire_safety_website_prototype
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px;  margin-left: auto; margin-right: auto;  }

#_bg__home_page {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#scrollabe_content {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}
#content {
	top: 0px;
	left: 0px;
	width: 1936px;
	height: 3000px;
}

#fire_safety_new_zealand {
	top: 271px;
	left: 150px;
	width: 593px;
	height: 192.5px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 75px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	padding-top: 5px;
	margin-top: -5px;
	color:#0B132A;
}


#what_you_will_find_on_this_page__how_to_prevent_fires_from_happening_what_to_do_during_a_fire_how_to_check_and_the_importance_of_your_smoke_alarms {
	top: 416px;
	left: 150px;
	width: 570px;
	height: 221px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 30px;
	text-align: left;
	color:#4E5664;
}


#check_your_smoke_alarms {
	top: 1880px;
	left: 150px;
	width: 804px;
	height: 242px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 100px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	padding-top: 30px;
	margin-top: -30px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	text-shadow: 0 0 2px #000000;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#0B132A;
}


#why_is_fire_safety_important_ {
	top: 1005px;
	left: 1173px;
	width: 801px;
	height: 242.5px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 75px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	padding-top: 5px;
	margin-top: -5px;
	color:#0B132A;
}


#fires_can_cause_injury_or_death__they_can_also_destroy_your_property__learning_about_fire_safety_is_key_to_help_prevent_these_unfortunate_events_from_occuring_ {
	top: 1195px;
	left: 1173px;
	width: 570px;
	height: 171px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 30px;
	text-align: left;
	color:#4E5664;
}


#smoke_alarm {
	top: 1723px;
	left: 1107px;
	width: 775px;
	height: 657px;
}


#image_1 {
	top: 239px;
	left: 904px;
	width: 900px;
	height: 387.86px;
}


#fire_safety_poster_drawing_1 {
	top: 894px;
	left: 286px;
	width: 483px;
	height: 773px;
}


#it_could_be_a_lifesaver {
	top: 2117px;
	left: 150px;
	width: 593px;
	height: 157.5px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 75px;
	text-align: left;
	line-height: 30px;
	padding-top: 45px;
	margin-top: -45px;
	color:#4E5664;
}


#rectangle_250 {
	top: 2670px;
	left: 706px;
	width: 500px;
	height: 200px;
}


#new_zealand_fire_department_website {
	top: 2707px;
	left: 759px;
	width: 470px;
	height: 103px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 40px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	line-height: 70px;
	color:#FFFFFF;
}

#menu_bar {
	top: 7px;
	left: 59px;
	width: 1824px;
	height: 95px;
}

#rectangle_249 {
	top: 20px;
	left: 1574px;
	width: 250px;
	height: 75px;
}


#_111_ek1 {
	top: 32px;
	left: 1663px;
	width: 95px;
	height: 62.5px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 45px;
	text-align: left;
	color:#F53855;
}


#fire_icon_png_1 {
	top: 0px;
	left: 286px;
	width: 50px;
	height: 76.27px;
}


#_prevent_risks_of_a_fire {
	top: 39px;
	left: 646px;
	width: 307px;
	height: 57px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 30px;
	text-align: left;
	color:#4F5665;
}


#_what_to_do_during_a_fire_ {
	top: 39px;
	left: 1098px;
	width: 353px;
	height: 57px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 30px;
	text-align: left;
	color:#4F5665;
}


#fire_safety {
	top: 8px;
	left: 0px;
	width: 311px;
	height: 105px;
	overflow: hidden;
	font-family: Rubik;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	line-height: 70px;
	color:#0B132A;
}



/* Add your custom CSS here */
